* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

body {
  position: relative;
  background-image: url(bgi.gif);
  background-size: cover;
  background-size: 400px 300px;
}

header img {
  display: block;
  margin: 50px auto;
  width: 30%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  background-color: #19b0e3;
}

table tr td {
  width: 150px;
  height: 150px;
  border: 15px solid rgb(71, 70, 70);
  font-size: 100px;
  text-align: center;
}

#b1,
#b2,
#b3 {
  border-top: none;
}

#b7,
#b8,
#b9 {
  border-bottom: none;
}

#b1,
#b4,
#b7 {
  border-left: none;
}

#b3,
#b6,
#b9 {
  border-right: none;
}

table tr td:hover {
  background-color: rgb(204, 214, 248);
  opacity: 0.6;
  cursor: pointer;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.blink{
    color: #dd4814;
    animation: blink 1s linear infinite; 